*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.slider-big{
    border-bottom: 2px solid rgb(255, 132, 0);
}

.header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 120px;
    align-items: center;
}

.header__logo{
    width: 265px;
}

.header__logo-img{
    width: 220px;
}

.header__search{
    flex: 1;
    display: flex;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.header__input{
    flex: 1;
    height: 45px;
    padding: 0 12px;
    font-size: 14px;
    outline: none;
}

.header__search-icon{
    height: 45px;
    width: 65px;
    background-color: rgb(255, 132, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.header__search-icon i{
    color: #fff;
    font-size: 20px;
}

.header__container{
    width: 400px;
}

.header__list{
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
}

.header__link{
    text-decoration: none;
    color: rgb(107, 102, 102);
    font-weight: bold;
}

.header__link-2{
    margin-left: 20px;
    position: relative;
}

.header__link-2:hover .header__cart{
    display: block;
}

.header__cart{
    position: absolute;
    top: 27px;
    right: 0;
    height: 64px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    padding: 22px 0;
    text-align: center;
    display: none;
}

.header__cart span{
    font-size: 16px;
    color: rgb(79, 74, 74);
    font-weight: 300;
}

.slider{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.slider__category{
    display: flex;
    align-items: center;
   font-size: 16px;
   color: #fff;
   background-color: rgb(255, 132, 0);
   width: 250px;
   padding: 12px 24px;
}

.slider__category i{
    font-size: 16px;
    margin-right: 6px;
}

.slider__list{
    display: flex;
    margin: 0;
    list-style: none;
}

.slider-link{
    text-decoration: none;
    padding: 0 10px;
    font-weight: 300;
    color: #111;
}

.slider-link-active{
    color: rgb(225, 193, 10);
}

.content{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.category{
    width: 250px
}

.category-list{
    list-style: none;
    margin: 0;
}

.category-item{
    padding: 12px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent rgb(160, 157, 157) rgb(160, 157, 157)  rgb(160, 157, 157) ;
    font-size: 15px;
}

.category-item i{
    margin-right: 12px;
}

.content-container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.content-item{
    width: 28%;
    margin: 20px 20px ;
}

.content-item img{
    object-fit: contain;
}

.content-item p{
    font-size: 15px;
    margin: 14px 0;
}

.content-item span{
    font-size: 16px;
    color: rgb(198, 27, 27);
    font-weight: 600;
}

.footer{
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 20px 0;
    margin: 6px 0;
}

.footer-list{
    display: flex;
    list-style: none;
    margin: 0 auto;
    width: 1200px;
}

.footer-item{
    display: flex;
    width: 25%;
    align-items: center;
    padding-left: 18px;
}

.footer-img{
    width: 50px;
    margin-right: 18px;
}

.footer-head{
    color: #222;
    margin-bottom: 6px;
    font-size: 18px;
}

.footer-des{
    font-size: 14px;
    color: rgb(48, 48, 139);
}